$small: 1.6rem;
$large: 2.4rem;
$xlarge: 3.6rem;
$xxlarge: 4.2rem;

$bradius: 20px;
$bshadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
$wshadow: 0 14px 28px rgb(255, 254, 254), 0 10px 10px rgb(255, 255, 255);
$yshadow: 0 14px 28px rgb(244, 248, 8), 0 10px 10px rgb(244, 248, 8);
$rightShadow: 0 14px 28px rgb(77, 250, 24), 0 10px 10px rgb(79, 233, 40);
$wrongShadow: 0 14px 28px rgb(190, 20, 20), 0 10px 10px rgb(200, 8, 8);

$A1: rgb(0 255 213 / 80%);
$A2: rgb(60 232 122 / 80%);
$B1: rgb(252 255 57 / 80%);
$B2: rgb(255 169 0 / 80%);
$C1: rgb(255 107 107 / 80%);
$C2: rgb(255 0 0 / 80%);
